{{#partial "content"}}

    <div class="hero-form">
    </br>
        </br>
        </br>
        </br>
        </br>

    {{#if editHero}}
            <h1>Edit Hero Name</h1>
        <form action="/heroes/{{editHero.id}}/update" method="post">
            <label for="content">Edit Hero's name</label>
            <input id="name" class="form-control" name="name" type="text" value="{{editHero.name}}">
            <button type="submit" class="btn btn-warning">Edit!</button>
        </form>
    {{else}}
        <form action="/heroes/new" method="post">
            <div class="form-group row">
                <label for="name">Hero name</label>
                <div class="col-sm-10">
                    <input id="name" class="form-control" name="name" type="text">
                </div>
            </div>

            <div class="form-group row">
                <label for="age">Hero Age</label>
                <div class="col-sm-10">
                    <input id="age" class="form-control" name="age" type="text">
                </div>
            </div>
            <div class="form-group">
                <label for="weakness" >Hero weakness</label>
                <select id="weakness" name="weakness" class="form-control">
                    <option>Loud piercing noises</option>
                    <option>Bright light</option>
                    <option>Extreme high temperatures</option>
                    <option>Paper sprays</option>
                    <option>Day light - sun light</option>
                </select>
            </div>
            <div class="form-group">
                <label for="power">Hero Known Power</label>
                <select id="power" name="power" class="form-control">
                    <option>Survive Under Water.</option>
                    <option>Animal strength - Able to lift up anything.</option>
                    <option>Faster than Speed of Light.</option>
                    <option>Teleporting.</option>
                    <option>Can see the past and the future.</option>
                </select>
            </div>
            <button type="submit" class="btn btn-warning">Create Hero!</button>
        </form>
    </div>
    {{/if}}

{{/partial}}

{{> layout.hbs}}